<div class="mb-3 d-flex justify-content-center g-2 mt-2 gap-3">
    <button type="button" class=" btn btn-primary">People</button>
    <div class=" dropdown">
      <button style="width:9vw" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        Details
      </button>
      <form class="dropdown-menu p-4">
        <div class="mb-3">
          <label for="exampleDropdownFormEmail2" class="form-label">ID</label>
          <input type="text" class="form-control" id="exampleDropdownFormEmail2" >
        </div>
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-info">Search</button>
            <button type="submit" class="btn btn-danger">Delet</button>
        </div>
      </form>
    </div>
</div>
