@{
    ViewData["Title"] = "About me";
}
<article>
   <h1>About Me</h1>
    <p>ALEX HONNOLD is a professional adventure rock climber whose audacious free-solo ascents of America’s biggest cliffs have made him one of the most recognized and followed climbers in the world. A gifted but hard-working athlete, Alex “No Big Deal” Honnold is known as much for his humble, self-effacing attitude as he is for the dizzyingly tall cliffs he has climbed without a rope to protect him if he falls. Honnold has been profiled by 60 Minutes and the New York Times, featured on the cover of National Geographic, appeared in international television commercials and starred in numerous adventure films including the Emmy-nominated “Alone on the Wall.”
        Honnold is sponsored by The North Face, Black Diamond, La Sportiva, Ando and Stride Health and is a board member of El Cap Climbing Gyms. He is the founder of the Honnold Foundation, an environmental non-profit. And to this day, he maintains his simple “dirtbag-climber” existence, living out of his van and traveling the world in search of the next great vertical adventure.
    </p>
</article>
