@{
    ViewData["Title"] = "Projects";
}
<article>
    <h1>
        My Projects!
    </h1>
    <ul>
        <li><a href="https://github.com/Libre255/.NET-MVC-basics">First assigment: builded the basic of .Net MVC</a></li>
    </ul>
</article>