<form asp-controller="Doctor" asp-action="FeverCheck" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Write your fever</label>
        <input type="number" name="temperature" class="form-control" id="title" aria-describedby="emailHelp">
    </div>

</form>

@if(ViewBag.TemperatureResult != null)
{
    <p>@ViewBag.TemperatureResult</p>
}