@using MVC_uppgift.Models
@model MVC_uppgift.ViewModels.CityViewModel

<p class="fs-3 text-center">Cities</p>
<div class="container mt-2 border border-dark w-25">
    <div class="row bg-black text-white" >
        <div class="col d-flex justify-content-center " >Id</div>
        <div class="col d-flex justify-content-center " >Name</div>
    </div>
    @foreach(City City in Model.CityList)
    {
        <partial name="_City" model="City"/>
    }
</div>
