@using MVC_uppgift.Models;
@model MVC_uppgift.ViewModels.PeopleViewModel;

<div class="container">
  <div class="row" style="background-color:black; color:white;">
    <div class="col">
      Name
    </div>
    <div class="col">
      Phone Number
    </div>
    <div class="col">
      City
    </div>
    <div class="col">
        Action
    </div>
  </div>
    @foreach(People people in Model.PeopleList)
    {
        <partial name="_PersonView" model="people" />
    }
</div>