@using MVC_uppgift.Models;
@model MVC_uppgift.ViewModels.PeopleViewModel;
<div id="modelDiv"></div>
<table id="tableOfPeople" class="table table-dark table-hover ">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">City</th>
      <th scope="col">Language</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @foreach(var Person in Model.PeopleList)
    {
        <tr>
            <td>@Person.Name</td>
            <td>@Person.PhoneNumber</td>
            <td>@Person.City</td>
            <td>
                @{
                    if(Person.ListOfLanguages != null)
                    {
                            @foreach(var L in Person.ListOfLanguages)
                        {
                                if(L.Name != null)
                                {
                                       <span>[@L.Name] </span>
                                }
                        }
                    }
                }
            </td>
            <td class="table-hover">
                @if(User.IsInRole("Admin")){
                    <a class="btn btn-danger" asp-route-InputName=@Person.Name asp-controller="People" asp-action="DeletPeople">
                        <partial name="_DeletIcon"/>
                    </a>
                }
                <a class="btn btn-info"
                    data-toggle="ajax-modal" data-target="#editPeopleModal" data-url=@Url.Action($"EditPeople/{Person.Id}") >
                    <partial name="_EditIcon"/>
                </a>
            </td> 
        </tr>
 
    }
  </tbody>
</table>
