
<div class="mb-3 row g-2 mt-2">
    <form class="col-auto">
        <input class="form-control" list="ListOfPeople" placeholder="Search people">
        <datalist id="ListOfPeople">
          <option value="Exampel"/>
        </datalist>
    </form>

    <div class="col"></div>

    <div class="col-auto dropdown">
      <button style="width:14.5vw" class="btn btn-success dropdown-toggle" 
              type="button"  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        Add people
      </button>
      <form class="dropdown-menu p-4">
        <div class="mb-3">
          <label for="NameInput" class="form-label">Name</label>
          <input type="text" class="form-control" id="NameInput" >
        </div>
        <div class="mb-3">
          <label for="PhoneNumber" class="form-label">Phone number</label>
          <input type="text" class="form-control" id="PhoneNumber">
        </div>
        <div class="mb-3">
          <label for="City" class="form-label">City</label>
          <input type="text" class="form-control" id="City">
        </div>
       
        <button type="submit" class="btn btn-dark">Add</button>
      </form>
    </div>
</div>

<table class="table table-dark table-hover ">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">City</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>dasd</td>
      <td class="table-hover">
          <button type="button" class="btn btn-danger"><partial name="_DeletIcon"/></button>
      </td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>asd</td>
      <td class="table-hover">
        <button type="button" class="btn btn-danger"><partial name="_DeletIcon"/></button>
      </td>
    </tr>
    <tr>
      <td colspan="2">Larry the Bird</td>
      <td>asdasd</td>
      <td class="table-hover">
          <button type="button" class="btn btn-danger"><partial name="_DeletIcon"/></button>
      </td>
    </tr>
  </tbody>
</table>