@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>;

<a class="btn btn-primary" asp-action="AddUserToRole">Add user to a role</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserName</td>
            </tr>
        }
    </tbody>
</table>