@using MVC_uppgift.Models;
@model MVC_uppgift.ViewModels.CountryViewModel;

<div class="container mt-2  w-25">
    <p class="fs-3 text-center row d-flex justify-content-center">Countries</p>
    <div class="dropdown row d-flex justify-content-center m-2">
        <button style="width:6vw" class="btn btn-success dropdown-toggle" 
                type="button"  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                Add Country
        </button>
        <partial name="_CreateCountry" model=Model/>
    </div>
    <div class="row bg-black text-white">
        <div class="col d-flex justify-content-center">Id</div>
        <div class="col d-flex justify-content-center">Name</div>
        <div class="col d-flex justify-content-center">Action</div>
    </div>
    @foreach(Country Country in Model.CountryList)
    {
        <partial name="_Country" model="Country"/>
    }
</div>
<div class="CountriesCityBox"></div>
    
    
