@using MVC_uppgift.Models
@model People;

<div class="row" style="border:1px solid black; padding:0.5vw" >
    <div class="col">@Model.ID</div>
    <div class="col">@Model.Name</div>
    <div class="col">@Model.PhoneNumber</div>
    <div class="col">@Model.City</div>
    <div class="col">
        <a class="btn btn-danger" asp-route-InputName=@Model.Name asp-controller="People" asp-action="DeletPeople">
            <partial name="_DeletIcon"/>
        </a>
    </div>
</div>
